extends layout

block content
  h1 Ultra-modern Photo Sharing Application
  p Welcome to My Ultra-modern Photo Sharing Application
  
  a(href="../photos")
    button(type="button") Share Photos Using a Super High-tech User Interface


